.admin-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #0a3d62; /* Dark navy */
}

.content {
  display: flex;
  margin-top: 10px;
  height: calc(100vh - 80px);
}

.sidebar {
  width: 25%;
  background-color: #1e5f74; /* Teal blue */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #ffffff;
}

.unit-buttons button {
  background-color: #3282b8;
  color: #ffffff;
  border: 1px solid #1e5f74;
}

.main-content {
  width: 75%;
  padding: 20px;
  background-color: #1e5f74;
  color: #ffffff;
}
