/* styles/App.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #ffffff;
}

a {
  color: #1db954; /* Spotify green for links */
  text-decoration: none;
}

a:hover {
  color: #1ed760;
}

button,
.chakra-button {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #1db954;
}

button:hover,
.chakra-button:hover {
  background-color: #1db954;
  color: #121212;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}

.chakra-box {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.chakra-stack,
.chakra-heading {
  color: #ffffff;
}

input,
.chakra-input {
  background-color: #2e2e2e;
  border: 1px solid #444444;
  color: #ffffff;
}

input::placeholder,
.chakra-input::placeholder {
  color: #bbbbbb;
}

/* Adjust scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background-color: #444444;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666666;
}
