.topRow {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.categoryTabs {
  padding: 10px;
  background-color: #1e5f74; /* Teal blue */
  color: #ffffff;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.categoryTabs:hover {
  background-color: #46006e; /* Soft orange */
  color: #ffffff;
}

.calanderButtonGroup,
.calanderButton {
  width: 305px;
  text-align: center;
  background-color: #3282b8; /* Light navy */
  padding: 10px;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
}

.calanderButton:hover {
  background-color: #46006e;
  color: #ffffff;
}

/* Static group (left section) */

.currentTab {
  background-color: #46006e;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  border: 2px solid #3282b8; /* Light navy */
}

.staticEntry {
  background-color: rgba(255, 233, 233, 0.3);
  padding: 8px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: bold;
  border: 2px solid #1e5f74;
  width: 280px;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-bottom: 2px;
}

/* Dynamic group (right section) */

.dynamicEntries {
  background-color: #032368; /* Muted blue */
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
}

.dragDropContainer {
  grid-column: 1 / -1;
  background-color: #01101a;
  border-radius: 10px;
  padding: 15px;
}

.bottomButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.entriesButton,
.tasksButton {
  width: 100%;
  padding: 12px;
  background-color: #3282b8;
  border-radius: 8px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.entriesButton:hover,
.tasksButton:hover {
  background-color: #46006e;
  color: #ffffff;
}
.bodyGrid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.staticGroup {
  background-color: rgb(121, 42, 5);
  padding: 9px;
  border-radius: 8px;
  color: #ffffff;
  width: 100%;
  box-sizing: border-box;
}

.dynamicGroup {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  background-color: #02133d;
  padding: 15px;
  border-radius: 8px;
  width: 100%;
}

.dynamicColumn {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dynamicTime {
  color: #ffffff;
  text-align: center;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  height: 40px;
}
