/* .event {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #333;
  cursor: move;
  padding: 5px;
}

.delete-event-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 0 6px;
  cursor: pointer;
  font-size: 12px;
}

.resize-handle {
  width: 10px;
  height: 100%;
  background-color: #333;
  cursor: ew-resize;
} */


/* Main container that wraps both static and dynamic groups */
.mainGridContainer {
  display: grid;
  grid-template-columns: 300px 1fr; /* Static group on the left, dynamic group on the right */
  gap: 1rem;
  width: 100%;
  align-items: start; /* Align items to the start of the grid */
}

/* Static group (left section) */
.staticGroup {
  display: grid;
  grid-template-rows: repeat(23, 1fr); /* 23 equal rows for static entries */
  background-color: rgb(121, 42, 5);
  padding-top: 10px; /* Adjust the top padding */
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-radius: 8px;
  color: #ffffff;
  box-sizing: border-box;
  height: 100%;
  gap: 0;
}

/* Dynamic group (right section) */
/* .dynamicGroup {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(23, 1fr);
  gap: 10px;
  background-color: #02133d;
  padding: 9px;
  border-radius: 8px;
} */
.dynamicGroup {
  background-color: #02133d; /* Dark navy */
  padding-top: 50px; /* Adjust the top padding */
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
  border-radius: 8px;
  width: 87vw;
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  height: 100%;
}

/* Static Entry (Orange Buttons) */
.staticEntry {
  background-color: rgba(255, 233, 233, 0.3);
  padding-top: 15px; /* Adjust the top padding */
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  border-radius: 8px; /* Consistent border radius */
  color: #ffffff;
  font-weight: bold;
  font-size: 0.9rem; /* Font size for button text */
  border: 0px solid #1e5f74;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Set width to fill the grid cell */
  height: 38px; /* Fixed height for all buttons */
  margin: 0;
}



/* Dynamic Entry (Blue Buttons) */
/* .dynamicEntry {
  background-color: #0055a5;
  color: white;
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  border: 2px solid #1e5f74;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
} */
.dynamicEntries {
  background-color: #032368; /* Muted blue */
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
}
