/* .container {
  padding: 16px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #2d3748;
} */
.container-heading {
  background-color: #2d3748;
}

.main-section {
  border-radius: 8px;
  padding: 16px;
  background-color: #2d3748;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 10px;
}

.buttons {
  display: flex;
  margin-bottom: 16px;
}

.buttons button {
  margin-right: 8px;
  background-color: rgb(67, 67, 90);
  color: white;
}

.content-area {
  border-radius: 8px;
  height: 1200px;
  padding: 16px;
  overflow-y: auto;
  background-color: rgb(67, 67, 90);
  flex-grow: 1;
}

.content-area h2 {
  font-size: 18px;
  font-weight: semibold;
}

.no-entries {
  font-size: 18px;
  color: gray;
}

.static-entries-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(67, 67, 90);
  flex-grow: 1;
}

.table-container {
  display: flex;
  flex-direction: column;
  background-color: blue;
  color: white;
  padding: 20px;
  border-radius: 5px;
  overflow-y: auto;
}

/* .table {
  width: 100%;
  border-collapse: seperate;
  border-spacing: 0;
  border: 1px solid green;
  border-radius: 8px;
} */
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
  background-color: #2d3748;
  color: white;
  border-radius: 8px;
  overflow: hidden;
}

/* .table th,
.table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
} */
.table th,
.table td {
  padding: 12px 15px;
}

/* .table th {
  height: 150px;
  position: relative;
  min-width: 130px;
} */

.table thead {
  background-color: #4a5568;
  text-transform: uppercase;
  font-weight: bold;
}

/* .table th span {
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  white-space: nowrap;
} */

/* .table td {
  text-align: left;
  width: auto;
}

.table tr {
  height: 50px;
} */

.table th {
  border-bottom: 2px solid #e2e8f0;
}
