/* .container {
  padding: 16px;
  max-width: 1200px;
  margin: 0 auto;
} */

.main-section {
  border-radius: 0px;
  padding: 16px;
  background-color: #2d3748;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  margin-bottom: 16px;
}

.buttons button {
  margin-right: 8px;
  background-color: rgb(67, 67, 90);
  color: white;
}

.content-area {
  border-radius: 8px;
  height: 400px;
  padding: 16px;
  overflow-y: auto;
  background-color: rgb(67, 67, 90);
}

.content-area h2 {
  font-size: 18px;
  font-weight: semibold;
}

.no-entries {
  font-size: 18px;
  color: gray;
}

.static-entries-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(67, 67, 90);
}
